.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear;
    z-index: -1;
    position: absolute;
    left: 700px;
    top: 300px;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.simulation-container {
    border: 3px;
    border-style: ridge;
    padding: 10px;
    width: 1520px;
    height: 690px;
}

.floor-container {
    height: 665px;
    width: 200px;
}

.floor-section {
    height: 95px;
    padding: 10px;
    border-style: ridge;
    border-left: 0px;
    border-right: 0px;
}

.elevator {
    height: 95px;
    padding: 10px;
    position: relative;
}

.elevator-container {
    height: 665px;
    width: 1300px;
}

.elevator-section {
    width: 260px;
    height: 100%;
}

.elevator-button {
    font-size:x-large;
    margin-left: 5px;
    margin-right: 5px;
}

.elevator-button:active:focus {
    box-shadow: none !important;
  }

.status-dial {
    width: 25px;
    height: 25px;
    top: 27px;
    left: 60px;
    /* background-color: greenyellow; */
    border-radius: 25px;
    position: absolute;
}